.container__artista{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-radius: 25%;
  
  flex-wrap: wrap;
}
.card{
border-radius: 10px;
border: solid 2px rgb(139, 14, 255);
margin: 5px;

}

.imagen{
  width: 250px;
  height: 250px;
  border: solid color(srgb red green blue);    
}

.icond{
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  border: solid 2px rgb(228, 158, 158);
}
.genre{
  border: solid 2px rgb(73, 73, 187);
}

.icon{
  width: 50px;
  height: 50px;
  border: solid 2px rgb(46, 243, 6);
  display: flex;
  justify-content: flex-end;
}

